@media(max-width: 1263px){
  .process-card{
    max-width: 600px;
  }
  .process-icon::after{
    background: none;
  }
}
@media (max-width: 860px) {
  nav {
    padding: 2rem 0.5rem;
  }
  .nav-right .btn{
    padding: .3rem .5rem;
  }
}
@media (max-width: 515px){
  .brands p::after, .brands p::before{
    width: 10%;
  }
}