:root {
  --bg-color1: #111204;
  --bg-color2: #222222;
  --bg-color3: #f9f9f9;
  --bg-color4: #1E2008;
  --primary-color1: #fff;
  --primary-color2: #b9fd50;
  --primary-color3: #000;
  --primary-color4: #ffffff80;
  --primary-color5: #00000080;
  --primary-color6: #9593a4;
  --primary-color7: #b8fd5010;
  --primary-color8: #d9d9d9;
  --primary-color9: #A5D96F;
}
body {
  color: var(--primary-color1);
  font-family: poppins;
  background-color: var(--bg-color1);
}
/* Global */
.section {
  min-height: 100vh;
  padding: 2rem;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn.filled-btn{
  transition: all .3s ease;
}
button{
  cursor: pointer;
}
.btn {
  background-color: var(--primary-color2);
  color: var(--primary-color3);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.btn.filled-btn:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 20px #b9fd5050;
}
.btn.filled-btn:active{
  transform: scale(1);
}
.title {
  text-align: center;
  margin-bottom: auto ;
}
.title > h1 {
  font-size: 2rem;
  font-family: outfit-bold;
}
.title p {
  font-size: 1rem;
}
.title p:first-child {
  color: var(--primary-color2);
}
.title p:last-child {
  color: var(--primary-color4);
}
.intro-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 0;
}
.intro1,
.intro2 {
  max-width: 600px;
}
.intro1 p:first-child {
  color: var(--primary-color2);
}
.intro1 p:last-child {
  font-size: 3rem;
  font-weight: 600;
}
.intro2 {
  color: var(--primary-color4);
  align-self: flex-start;
  padding-top: 2.5rem;
}
.intro2 p:first-child {
  padding-bottom: 1rem;
}
/* Header */
header {
  position: relative;
}
nav {
  justify-content: space-around;
  padding: 2rem;
  position: relative;
}
/* Hamburger menu wrapper */
.hamburger-menu {
  position: relative;
  display: none;
}

/* Hamburger button and bars */
#hamburger-btn {
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  width: 40px;
  height: 28px;
}
#hamburger-btn b {
  display: block;
  position: absolute;
  height: 4px;
  width: 40px;
  background: #fff;
  transition: all 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  left: 0;
  right: 0;
}
#hamburger-btn b:nth-child(1) {
  top: 0;
}
#hamburger-btn b:nth-child(2) {
  top: 50%;
}
#hamburger-btn b:nth-child(3) {
  top: 100%;
}

#hamburger-btn.active b:nth-child(1) {
  top: 50%;
  opacity: 0;
}
#hamburger-btn.active b:nth-child(2) {
  transform: rotate(45deg);
}
#hamburger-btn.active b:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* Hamburger Content */
.hamburger-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  padding: 1.5rem;
  border-radius: 8px;
  width: 280px;
  background: linear-gradient(135deg, #658b2b 0%, rgba(0, 0, 0, 0.9) 100%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  text-align: start;
}
.hamburger-content.active {
  transform: translateY(12px);
  opacity: 1;
  visibility: visible;
}
.hamburger-content .nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.hamburger-content .nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
.hamburger-content .nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-color2);
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}
.logo span {
  color: #b9fd50;
}
.nav-right {
  gap: 2rem;
}
.nav-links a {
  text-decoration: none;
  color: var(--primary-color1);
  padding: 1rem;
}
.nav-links a:hover {
  color: var(--primary-color2);
}
/* Hero section */
.hero {
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: calc(100vh - 112px);
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
}
.glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 100%;
  background: radial-gradient(circle, #b9fd5040 0%, rgba(0, 0, 0, 0) 70%);
  transform: translate(-50%, -50%);
  filter: blur(134.37px);
  pointer-events: none;
}
.star {
  position: absolute;
}
.star1 {
  right: 20%;
  bottom: 70%;
  background: url(../images/hero/Star.svg) no-repeat;
  height: 48px;
  width: 48px;
}
.star2 {
  background: url(../images/hero/Star2.svg) no-repeat;
  height: 20px;
  width: 20px;
  bottom: 35%;
  right: 35%;
}
.star3 {
  background: url(../images/hero/Star3.svg) no-repeat;
  height: 14px;
  width: 15px;
  bottom: 40%;
  left: 22%;
}
.hero-title {
  font-size: 5.5rem;
  font-weight: 900;
  z-index: 2;
  position: relative;
}
.hero-title em {
  color: #b9fd50;
}
.hero-para {
  padding: 1rem 0;
  font-size: 0.9rem;
}
.hero button {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.brands p {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 2rem;
}
.brands p:after,
.brands p:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  background-color: var(--primary-color2);
  height: 2px;
}
.brands p::after {
  right: 0%;
}
.brands p:before {
  left: 0%;
}
.brands-content {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem 2rem;
  column-gap: 2rem;
  background-color: var(--bg-color2);
  border-radius: 8.49px;
  width: 100%;
}
.brands-content img {
  width: 90px;
  height: 50px;
}
/* Process section */
.prcoess-content {
  padding: 0 2rem 5rem 2rem;
  gap: 1rem;
  margin-bottom: 2rem;
}
.process-icons {
  justify-content: space-evenly;
}
.process-card img {
  box-sizing: content-box;
  width: 70px;
  padding-bottom: 1rem;
  position: relative;
}
.process-cards-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.process-card {
  max-width: 400px;
  padding-top: 2rem;
}
.process-card h3,
.process-card p {
  padding-top: 1rem;
}
.process-card p {
  color: var(--primary-color4);
}
.process-icon {
  position: relative;
}
.process-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/icons/process/line.svg) no-repeat;
  top: 30%;
  right: -15%;
  z-index: -1;
}
/* Portfolio section */
#portfolio {
  color: var(--primary-color3);
  background-color: var(--primary-color1);
  overscroll-behavior: none;
  text-align: center;
}
#portfolio .title {
  padding: 2rem 1rem 5rem 1rem;
}
#portfolio .title p:last-child {
  color: var(--primary-color3);
}
#portfolio .images {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 1;
  object-fit: cover;
  gap: 5rem;
  padding: 0 1rem 0 1rem;
}
#portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.377);
  border-radius: 5px;
}
#portfolio img:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}
#portfolio img:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}
#portfolio img:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}
#portfolio img:nth-child(4) {
  grid-row: 1;
  grid-column: 4;
}
#portfolio img:nth-child(5) {
  grid-row: 2;
  grid-column: 1;
}
#portfolio img:nth-child(6) {
  grid-row: 2;
  grid-column: 2;
}
#portfolio img:nth-child(7) {
  grid-row: 2;
  grid-column: 3;
}
#portfolio img:nth-child(8) {
  grid-row: 2;
  grid-column: 4;
}
#portfolio img:nth-child(9) {
  grid-row: 3;
  grid-column: 1;
}
#portfolio img:nth-child(10) {
  grid-row: 3;
  grid-column: 2;
}
#portfolio img:nth-child(11) {
  grid-row: 3;
  grid-column: 3;
}
#portfolio img:nth-child(12) {
  grid-row: 3;
  grid-column: 4;
}
/* Services section */
#services {
  gap: 1rem;
}
#services .title{
  padding: 0 0 2rem 0;
}
.service-names {
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  padding-bottom: 2rem;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0 auto;
  place-items: center;
}
.services-grid-item {
  padding: 2rem;
}
.services-grid-item img,
.services-grid-item h3 {
  padding-bottom: 0.5rem;
}
.services-grid-item p {
  color: var(--primary-color6);
}
.services-grid-item:nth-child(1),
.services-grid-item:nth-child(2),
.services-grid-item:nth-child(4),
.services-grid-item:nth-child(5),
.services-grid-item:nth-child(7),
.services-grid-item:nth-child(8) {
  border-right: 1px solid var(--primary-color7);
}
.services-grid-item:nth-child(-n + 6) {
  border-bottom: 1px solid var(--primary-color7);
}
/* Testimonials section */
#testimonial {
  background-color: var(--primary-color1);
  color: var(--primary-color3);
  padding: 2rem 0;
}
#testimonial .title{
  padding: 1rem 1rem 0 1rem;
}
#testimonial .title :nth-child(n) {
  color: var(--primary-color3);
}
.testimonial-card {
  background-color: var(--bg-color3);
  border: 1px solid var(--primary-color8);
  max-width: 600px;
  margin: auto;
  border-radius: 16px;
  padding: 2rem 2rem 1.5rem 2rem;
  gap: 1rem;
}
.testimonial-card .card-content {
  gap: 1rem;
}
.testimonial-card img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  object-fit: cover;
  align-self: flex-end;
  float: right;
  background: #dedede;
  box-shadow: 0 4px 16px rgba(0,0,0,0.04);
}
.testimonial-card h3 {
  color: var(--primary-color3);
  font-size: 1.14rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
}
.testimonial-card p {
  color: var(--primary-color5);
  font-size: 1rem;
  line-height: 1.55;
}
.testimonial-card .author {
  margin-top: auto;
}
.testimonial-card .author p:first-child {
  color: var(--primary-color3);
  font-weight: 600;
}
.testimonial-card .author p:last-child {
  color: var(--primary-color6);
  font-size: 0.93rem;
}
.swiper {
  max-width: 100%;
  margin-bottom: auto;
  cursor: grab;
}
.swiper-slide{
  position: relative ;
  aspect-ratio: 12/6;
  user-select: none;
  overflow: hidden;
  will-change: transform;
}
.swiper-wrapper{
  transition-timing-function: linear !important;
}
/* Pricing Section */
#pricing{
  align-items: center;
}
#pricing .title{
  padding: 2rem 0;
}
.pricing-card-container{
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing-card{
  border: 1px solid #b9fd5037;
  border-radius: 7px;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--bg-color2);
  font-family: outfit;
  box-shadow: 0 1px 8px rgba(0,0,0,0.07);
  transition: transform 0.3s cubic-bezier(.42,0,.58,1), box-shadow 0.3s cubic-bezier(.42,0,.58,1);
  transform: scale(0.9);
}
.pricing-card.card-side {
  transform: scale(0.85);
}
.pricing-card.card-side:hover{
  transform: scale(.87);
}
.pricing-card.card-center:hover{
  transform: scale(.92);
}
.pricing-card.card-center {
  box-shadow: 0 2px 24px rgba(0,0,0,0.18);
}
.pricing-card .card-title{
  align-self: flex-start;
  gap: 1rem;
  align-items: center;
}
.pricing-card .card-title p:first-child{
  font-size: 2rem;
  font-weight: 700;
}
.pricing-card:last-child .card-title .btn{
  background-color: var(--primary-color1);
} 
.pricing-card .card-title .btn{
  padding: .2rem .5rem;
  color: #111204;
  pointer-events: none;
}
.pricing-card .card-description {
  color: var(--primary-color4);
  font-size: .9rem;
  max-width: 300px;
  padding-bottom: .5rem;
  border-bottom: 1px solid #b9fd5037;
}
.pricing-card .card-pricing {
  border-bottom: 1px solid #b9fd5037;
  padding-bottom: .5rem;
}
.pricing-card .card-pricing p:first-child{
  color: var(--primary-color2);
  font-size: 2.5rem;
  font-weight: 700;
}
.pricing-card .card-pricing p:last-child{
  color: var(--primary-color4);
  font-size: .9rem;
}
.pricing-card .card-benefits p{
  position: relative;
  text-indent: 2rem;
  line-height: 2;
}
.pricing-card .card-benefits p:before{
  content: "";
  position: absolute;
  background: url(../images/icons/pricing/star.svg);
  width: 20px;
  height: 20px;
  left: 0;
  top: 25%;
}
.pricing-card .card-btns {
  gap: 1rem;
}
.pricing-card .card-btns .btn{
  padding: 0.5rem 5rem;
  align-self: center;
}
.pricing-card .card-btns .btn:first-child{
  background: none;
  color: var(--primary-color1);
  border: 1px solid var(--primary-color2);
  transition: transform .3s ease, box-shadow .3s ease;
}
.pricing-card .card-btns .btn:first-child:hover{
  transform: scale(1.05);
  color: #b9fd50;
  box-shadow: 0px 1px 7px #b9fd5050;
}
.pricing-card .card-btns .btn:first-child:active{
  transform: scale(1);
}
/* Blogs Section */
#blogs{
  align-items: center;
}
#blogs .title{
  padding-bottom: 2rem ;
}
.blogs-content {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: auto;
}
.blog-card {
  align-items: stretch;
  background: linear-gradient(#b9fd5003 0%, #00000004 100%);
  border: 1.5px solid #b9fd5037;
  border-radius: 18px;
  overflow: hidden;
  max-width: 560px;
  min-height: 172px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.11);
  transition: box-shadow 0.18s, transform .3s ease;
  transform: scale(.9);
}
.blog-card:hover{
  transform: scale(1.01);
}
.blog-card__img {
  justify-content: center;
  flex: 0 0 144px;
  padding: 0.7rem 0.5rem 0.7rem 0.7rem;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.blog-card__img img {
  display: block;
  width: 100%;
  height: 144px;
  object-fit: cover;
  border-radius: 12px;
}
.blog-card__content {
  flex: 1 1 0;
  padding: 1.1rem 1.5rem 1.1rem 1rem;
}
.blog-card__content h3:hover{
  color: var(--primary-color9);
  cursor: pointer;
  text-decoration: underline;
}
.blog-card__tag {
  display: inline-block;
  color: #bef943;
  font-weight: 600;
  font-size: 0.93rem;
  letter-spacing: 0.04em;
  margin-bottom: 0.49rem;
  text-transform: uppercase;
}
.blog-card__title {
  font-size: 1.2rem;
  color: var(--primary-color1);
  margin-bottom: 0.7rem;
  font-weight: 700;
  line-height: 1.35;
}
.blog-card__desc {
  color: #bdbfbc;
  font-size: 1rem;
  margin: 0;
}
.load-more-btn{
  font-family: outfit;
  background: none;
  color: var(--primary-color9);
  border: 1px solid var(--primary-color2);
  position: relative;
  transition: transform .3s ease;
  margin-bottom: auto;
}
.load-more-btn::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--primary-color2);
  border-radius: 8px;
  transition: height .3s ease;
  pointer-events: none;
}
.load-more-btn span{
  position: relative;
  z-index: 2;
}
.load-more-btn:active{
  transform: scale(.95);
}
.load-more-btn:hover::after{
  height: 100%;
}
.load-more-btn:hover{
  color: var(--primary-color3);
}
/* FAQ's section */
#faq{
  background-color: var(--primary-color1);
  color: var(--primary-color3);
  align-items: center;
  justify-content: center;
  padding-bottom: 15rem;
}
#faq .title p{
  color: var(--primary-color5);
  padding-bottom: 2rem;
}
.faq-content{
  margin-bottom: auto;
}
.accordion{
  gap: 1rem;
}
.accordion-item{
  max-width: 500px;
  background-color: var(--bg-color1);
  padding: 1rem;
  border-radius: 20px;
}
.accordion button {
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  position: relative;
  text-align: left;
  padding: .5rem 0;
  width: 100%;
  color: var(--primary-color1);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary-color1);
}
.faq-content{
  gap: 1rem;
}
input, textarea{
  border: 1px solid var(--primary-color5);
  border-radius: 6px;
  padding: .5rem;
}
textarea{
  width: 100%;
  max-width: 500px;
  height: 120px;
}
#myform div{
  justify-content: space-between;
  align-items: center;
  font-family: outfit;
  padding-top: 1rem;
}
#myform p{
  padding-top: .5rem;
  color: var(--primary-color5);
  font-size: .9rem;
}
#myform div button{
  border-radius: 20px;
  padding: .5rem 2rem;
  align-self: flex-end;
}
/* Footer */
footer{
  min-height: 70vh;
  position: relative;
  font-family: outfit;
  padding: 2rem 2rem 0 2rem;
}
footer .cta{
  width:fit-content;
  position: absolute;
  left: 9%;
  padding: 1.5rem 0rem;
  text-align: center;
  gap: 1rem;
  top: -25%;
  background-color: var(--bg-color4);
  align-items: center;
  border-radius: 10px;
  width: 80%;
}
footer .cta h1{
  max-width: 500px;
  font-size: 3rem;
}
footer .cta p{
  max-width: 300px;
  font-size: .9rem;
}
.footer-content{
  margin-top: auto;
}
.footer-info{
  width: 85%;
  margin: 15rem auto 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  border-bottom: 1px solid #404040;
  padding-bottom: 2rem;
}
.footer-left, .footer-right, .contact{
  gap: 1rem;
}
.footer-right{
  padding-top: 1rem;
}
.footer-nav{
  width: 85%;
  margin: auto;
  padding: 1rem 0;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer-nav .nav-links a{
  padding: 0;
}
.footer-nav .nav-links{
  gap: 1rem;
  flex-wrap: wrap;
}
.footer-right .contact:nth-child(-n+2) p:hover{
  cursor: pointer;
  color: var(--primary-color2);
}
.footer-right .contact svg{
  cursor: pointer;
  transition: transform .3s ease, filter .3s ease;
}
.footer-right .contact svg:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 1px 4px #b9fd50);
}
.footer-right .contact svg:active{
  transform: scale(1)
}
.footer-right .contact svg:hover path{
  fill: var(--primary-color2);
}